parameters:
    level: 8
    paths:
        - src
        - tests
    universalObjectCratesClasses:
        - Skarabee\Weblink\Response\ResponseObject
    ignoreErrors:
        -
            message: '#^Argument of an invalid type object supplied for foreach, only iterables are supported\.$#'
            path: src/Response/ResponseObject.php
